/**
 * Main stylesheet for project hours app
 * @rdarling
 *
 */

$white: #ffffff;
$pink:  #ef017c;

.brick {
    clear:both;
}

header {
    margin-bottom:4rem;
}

body {
    background: $white no-repeat;
    background: -moz-linear-gradient(45deg, $white 70%, $pink 100%) no-repeat;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(70%,$white), color-stop(100%,$pink)) no-repeat;
    background: -webkit-linear-gradient(45deg, $white 70%,$pink 100%) no-repeat;
    background: -o-linear-gradient(45deg, $white 70%,$pink 100%) no-repeat;
    background: -ms-linear-gradient(45deg, $white 70%,$pink 100%) no-repeat;
    background: linear-gradient(45deg, $white 70%,$pink 100%) no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='$pink',GradientType=1 );
}

input.error {
    background:$pink; 
}

#login {
   form {
    margin-top:2rem;
   } 
}

#list_projects {
    .projects-wrap{
        .row{
            padding:2rem;
            cursor:pointer;
            &:hover{
                background: darken($white,10%); 
            }
            &:nth-child(2n){
                background: lighten($pink,30%); 
                &:hover {
                    background:lighten($pink,20%); 
                }
            } 
        } 
    }
}

footer {
    margin-top:4rem;
}
